@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

header {
	display: flex;
	flex-direction: row;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	background-color: #171717;
	height: 65px;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	z-index: 9;
}

header a {
	cursor: pointer;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
}
header i {
	color: #fff;
	font-weight: normal;
}

header a:hover {
	transform: scale(1.1);
	transition: transform 0.25s;
}

header img {
	height: 35px;
	width: 35px;
}

header section {
	align-items: center;
	display: flex;
	flex-direction: row;
	text-decoration: none;
}

header div {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 90%;
	width: 110%;
}

header div:hover {
	border-bottom: 2px solid #03fc5e;
}

footer {
	display: flex;
	flex-direction: column;

	background-color: #6b03fc;
	color: #fff;
	box-shadow: inset 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
}

#portfolio img[data-src] {
	opacity: 0;
	transform: scale(0.5);
}

#portfolio img[src] {
	opacity: 1;
	transform: scale(1);
	transition: .25s ease-in-out;
}

#skills img[data-src] {
	opacity: 0;
	transform: translateX(200%);
}

#skills img[src] {
	opacity: 1;
	transform: translateX(0);
	transition: .5s ease-in;
}

#main {
	align-items: center;
	background-image: url(../images/wallpaper.jfif);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 85vh;
	justify-content: center;
	width: 100%;
	text-shadow: 1px 6px 5px #171717;
}

#main article {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 90%;
	justify-content: center;
	width: 80%;
}

#main h1 {
	font-weight: bold;
	font-size: 65px;
}

#main p,
a {
	margin-top: 10px;
	font-size: 35px;
}

#main span {
	color: #03fc5e;
	text-shadow: 2px 2px 11px rgba(23, 23, 23, 0.97);
}

#sobre {
	height: 45vh;
	background-color: #6b03fc;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 11px rgba(23, 23, 23, 0.97);
	box-shadow: inset 0px -1px 13px 0px #000000;
}

#sobre h1 {
	font-weight: bold;
	font-size: 45px;
	margin: 40px 0;
}

#sobre p {
	font-size: 25px;
}

#portfolio,
#skills {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 140px;
	margin-top: 20px;
}

#portfolio article,
#skills article {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#portfolio h1,
#skills h1,
footer h1 {
	font-weight: bold;
	font-size: 45px;
	margin: 70px 0;
	text-align: center;
}
footer h3 {
	font-size: 25px;
	text-align: center;
	margin: 40px 0;
}

#portfolio img {
	max-height: 200px;
	max-width: 100%;
}

#skills img {
	height: 100px;
	width: 100px;
	margin: 45px;
}

footer article {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
footer div {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
}

footer a {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}
footer h2 {
	font-size: 30px;
	margin: 15px 0;
}

footer p {
	font-size: 20px;
}

footer i {
	font-size: 85px;
}

.projeto {
	align-items: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	margin: 10px;
	position: relative;
	width: 400px;
}
.projeto:hover {
	transform: scale(1.05);
	transition: transform 0.25s;
}

.projeto:nth-child(1) {
	background-color: #ff141a;
}

.projeto:nth-child(2) {
	background-color: #ecebf1;
}

.projeto:nth-child(3) {
	background-color: #800080;
}

.projeto:nth-child(4) {
	background-color: #ffe9c8;
}

.projeto:nth-child(5) {
	background-color: #131213;
}

.projeto:nth-child(6) {
	background-color: #f54260;
}

.overlay {
	align-items: center;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: flex;
	border-radius: 10px;
	justify-content: center;
	flex-direction: column;
	font-size: 25px;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	text-shadow: 2px 3px 4px #000000;
	transition: opacity 0.25s;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.overlay > * {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.overlay:hover {
	opacity: 1;
}

.overlay:hover > * {
	transform: translateY(0px);
}

.button {
	background-color: #03fc5e;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 12px;
	text-shadow: none;
}

.mobile {
	display: none
}

[data-anime] {
	opacity: 0;
	transition: .3s;
}

[data-anume="up"] {
	transform: translateY(100px);
}

[data-anime].animate {
	opacity: 1;
	transform: translateY(0px);
}

@media only screen and (max-width: 960px) {
	header {

		justify-content: center;

	}
	#main h1 {
		font-size: 55px
	}

	#main p,a {
		font-size: 25px;
	}

	#sobre {
		height: 60vh
	}

	#sobre p {
		font-size: 20px
	}

	.navbar {
		display: none
	}
	.mobile{
		display: inline
	}
	
}

